<%- include('./partials/header.ejs') %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Biểu Đồ Flot cảm biến</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Số liệu cảm biến</li>
                        <li class="breadcrumb-item active">Biểu đồ Days</li>
                        <li class="breadcrumb-item active">Biểu đồ Month</li>
                        
                        
                    </ol>
                </div>
            </div>
            <!-- Add filter inputs here -->
            <div class="row mb-2">
                <div class="col-sm-2">
                    <h4><center>Chọn năm</center> </h4>
                    <select id="filterYear" class="form-control">
                        <option value="">Chọn năm</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                        <option value="2031">2031</option>
                    </select>
                </div>
                <!-- <div class="col-sm-2">
                    <h4><center>Chọn tháng</center> </h4>
                    <select id="filterMonth" class="form-control">
                        <option value="">Chọn tháng</option>
                        <option value="01">Tháng 1</option>
                        <option value="02">Tháng 2</option>
                        <option value="03">Tháng 3</option>
                        <option value="04">Tháng 4</option>
                        <option value="05">Tháng 5</option>
                        <option value="06">Tháng 6</option>
                        <option value="07">Tháng 7</option>
                        <option value="08">Tháng 8</option>
                        <option value="09">Tháng 9</option>
                        <option value="10">Tháng 10</option>
                        <option value="11">Tháng 11</option>
                        <option value="12">Tháng 12</option>
                    </select>
                </div> -->
                <div class="col-sm-2">
                    <button id="applyFilters" class="btn btn-primary">Lọc</button>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <canvas id="myChart"></canvas>
        </div>
    </section>
</div>

<%- include('./partials/scripts.ejs') %>

<script>
    $(document).ready(function () {
        getContent();

        // Thiết lập lặp lại gọi hàm getContent() sau mỗi 3 phút
        setInterval(getContent, 180000); // 180000 milliseconds = 3 minutes

        $('#applyFilters').click(function () {
            
            const year = $('#filterYear').val();

            const filters = {};
            
            if (year) filters.year = year;

            getContent(filters); // Call getContent with filters
        });

        function getContent(filters = {}) {
            $.ajax({
                url: "http://127.0.0.1:8282/api/cambien",
                type: 'GET',
                data: filters, // Send filters as query parameters
                crossDomain: true,
                success: function (data) {
                    console.log("Data received: ", data);
                    // Filter data based on selected month and year
                    const filteredData = data.filter(item => {
                        if (filters.year) {
                            const itemYear = parseInt(item.ngaynhan.split('/')[2]);
                            const selectedYear = parseInt(filters.year);
                            return itemYear === selectedYear;
                        }
                        return true; // Nếu không có bộ lọc, trả về tất cả dữ liệu
                    });
                    drawChart(filteredData);
                }
            });
        }

        function drawChart(data) {
            var dataRet = tach_dl(data);
            var ctx = document.getElementById('myChart').getContext('2d');

            if (window.myChart instanceof Chart) {
                window.myChart.destroy();
            }

            window.myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dataRet[0],
                    datasets: [
                        {
                            label: 'Nhiệt độ',
                            data: dataRet[1],
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1,
                            fill: false
                        },
                        {
                            label: 'Độ ẩm',
                            data: dataRet[2],
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1,
                            fill: false
                        },
                        {
                            label: 'Độ pH',
                            data: dataRet[3],
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1,
                            fill: false
                        }
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Thời gian'
                            }
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Giá trị'
                            }
                        }
                    }
                }
            });
        }

        function tach_dl(datadb) {
            var dataRet = [];
            var itemgionhan = [];
            var itemnhietdo = [];
            var itemdoam = [];
            var itemph = [];
            datadb.forEach(el => {
                itemgionhan.push(el.gionhan);
                itemnhietdo.push(el.nhietdo);
                itemdoam.push(el.doam);
                itemph.push(el.ph);
            });
            dataRet.push(itemgionhan);
            dataRet.push(itemnhietdo);
            dataRet.push(itemdoam);
            dataRet.push(itemph);
            return dataRet;
        }
    });
</script>


<%- include('./partials/footer.ejs') %>